body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  background-color: #1D3461;
  color: #62BEC1;
}



/* nav ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  display: inline-block
}

nav ul li a:hover {
  text-decoration: none;
  color: #0F7EFF;
  background-color: #66101F;
  transform: translateY(-.2em);
  transition: .25s;
  border-radius: .1em;
  text-shadow: none;
} */
/* 
header {
  display: flex;
  color: #0F7EFF;
  padding: 16px;
  gap: 16px;
  align-items: center;
  height: 2em;
  justify-content: space-between;
  text-shadow: #62BEC1 2px 2px;
  border-bottom: solid 1px #62BEC1;
} */

/* .hero{
  display: flex;
  color: #62BEC1;
  height: 40%;
  padding: 2em;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  
}

.profile-image {
  border-radius: 50%;
  width: 15%;
  margin-left: 2em;

} */

/* main {
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #62BEC1;
}

main p{
  max-width: 80%;
}

span{
  color: #6BD425;
}

footer {
  color: #62BEC1;
  text-align: center;
} */