body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  display: inline-block
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 128, 128);
  transform: translateY(-.2em);
  transition: .25s;
  box-shadow: 0 2px .4em rgb(250, 250, 250);
  border-radius: .1em;
}

header {
  display: flex;
  background-color: rgba(0, 0, 0);
  color: white;
  padding: 16px;
  gap: 16px;
  align-items: center;
  height: 2em;
  justify-content: space-between;
  text-shadow: rgb(0, 128, 128) 2px 2px;
  border-bottom: solid 1px teal;
}

.hero{
  display: flex;
  height: 40%;
  padding: 2em;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.905);
  font-size: 2em;
  box-shadow: 0 3px .4em rgb(0, 128, 128);
  
}

.profile-image {
  border-radius: 50%;
  width: 15%;
  margin-left: 2em;

}

main {
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.816);
  color: white;
}

main p {
  width: 80%;
}

footer {
  background-color: rgba(0, 0, 0);
  color: white;
  text-align: center;
}
